---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Contact" description={SITE_DESCRIPTION} />
	<style>
		main {
			width: 100%;
			max-width: 800px;
			margin: 0 auto;
		}
	</style> 
</head>
  <body>
    <Header />
    <main>
      <p>Hey! I'm Ashly.</p>
	  <p>I'm currently working at Google building all things barcode, computer vision and on-device ML.</p>
	  <p>In my free time you can likely find me watching a <a href="https://letterboxd.com/ashlylau/">movie</a>,  <a href="https://www.thecrag.com/climber/ashlylau17">climbing</a>, <a href="https://substack.com/@ashlylau">reading substacks</a> or somewhere in macritchie reservoir.</p>
	  <br>
	  <p style="text-decoration: underline;">Resume</p>
	  <p>Experience</p>
	  <ul>
		<li>Software Engineer, Android AI Accelerator | Mar 2025 - Present</li>
		<li>Software Engineer, Google Pay | Sep 2021 - Mar 2025</li>
		<li>Software Engineering Intern, Google Pay | Jan 2020 - May 2020</li>
		<li>STEP Intern, Google Research | May 2019 - Aug 2019</li>
		<li>Software R&D Intern, HP | Jul 2018 - Aug 2018</li>
	  </ul>
	  <p>Education</p>
	  <ul>
		<li>Computing - Artificial Intelligence (MEng), Imperial College London | 2017 - 2021</li>
		<li>GCE-A Level, Raffles Institution | 2015 - 2016</li>
	  </ul>
	  <p>Projects</p>
	  <ul>
		<li>See <a href="/?tag=projects">projects</a></li>
	  </ul>
	  <p>Extra-curriculars</p>
	  <ul>
		<li><a href="https://competitioncorner.net/ff/12838/results#team_82180">Team 15th, 2024 CrossFit Semifinals Asia</a></li>
		<li>Participated in 2015 Artistic Gymnastics World Championships</li>
		<li><a href="https://en.wikipedia.org/wiki/Gymnastics_at_the_2015_SEA_Games">Women Artistic Gymnastics Team Silver, 2015 Southeast Asian Games</a></li>
		<li>Participated in 2014 Glasgow Commonwealth Games</li>
		<li><a href="https://www.gymnastics.sport/site/athletes/bio_detail.php?id=36350">National Team Gymnast, Singapore | 2012 - 2016</a></li>
	  </ul>
    </main>
    <Footer />
  </body>
</html>