---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Contact" description={SITE_DESCRIPTION} />
    <style>
		/* main {
			width: 100%;
			max-width: 800px;
			margin: 0 auto;
		} */
	</style>
  </head>
  <body>
    <Header />
    <main>
	  <p>Contact me via: <a href="https://www.linkedin.com/in/ashly-lau/">linkedin</a> - <a href="mailto:ashly@gmail.com">email</a> - <a href="https://www.instagram.com/ashly.lau/">instagram</a></p>
      <p>Or, fill out the form below:</p>
      <form class="contact-form">
        <label for="name">Name</label>
        <br />
        <input type="text" id="name" name="name" required />
        <br />

        <label for="email">Email</label>
        <br />
        <input type="email" id="email" name="email" required />
        <br />

        <label for="message">Message</label>
        <textarea id="message" name="message" rows="5" required></textarea>

        <button type="submit">Send</button>
      </form>
    </main>
    <Footer />
  </body>
</html>
